<div class="container mt-5">
  <div class="row">
    <div class="col text-center mt-5">
      <strong class="h3">本当に退会しますか？</strong>
      <p>
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
      <%= link_to "退会する", withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class:'btn btn-danger' %>
      <%= link_to "退会しない", customers_mypage_path, class:'btn btn-secondary' %>
    </div>
  </div>
</div>